*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 0.5rem;
}

:root {
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
    --background-light: #f4f4f4;
}

html {
    font-size:  62.5%;
}

body {
    font-size: 1.6rem;
    
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-light);
}

.main{
    border: 0.3rem solid var(--primary-dark);
    width: 25vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-light);
}

.screen,
.buttons {
    border: 0.2rem solid var(--primary-dark);
}

.screen{
    flex: 1;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-white{
    background-color: var(--secondary-light);
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.screen-white > h1{
    font-size: 6rem;
}

.buttons{
    flex: 4;
    margin: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

.sections{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 1rem;
}

button{
    flex: 1;
}

h3{
    font-size: 2.5rem;
}

.AC{
    flex: 2.15;
}

button:active{
    background-color: var(--primary-dark);
    color: var(--secondary-light);
}